$color-white: white;
$color-blue-10:rgb(88,160,255);
$color-blue-20: rgb(0,102,232);
$color-blue-30: rgb(0,48,102);
$color-red-10: rgb(232,32,0);
$color-red-20: rgb(160,24,0);
$color-gray-10: rgb(246,246,246);
$color-gray-20: rgb(192,192,192);
$color-gray-30: rgb(96,96,96);
$color-gray-40: rgb(49,51,56);
$header-color: $color-blue-20;
$background-color-light: $color-white;
$background-color-gray: $color-gray-10;
$background-color-dark: $color-gray-40;
$text-color-light: $color-white;
$text-color-dark: $color-gray-40;

